<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="java/toilet/default" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>java/toilet/default</non-jta-data-source>
    <class>libWebsiteTools.db.Exceptionevent</class>
    <class>libWebsiteTools.db.Honeypot</class>
    <class>libWebsiteTools.file.Filemetadata</class>
    <class>libWebsiteTools.file.Fileupload</class>
    <class>libWebsiteTools.imead.Localization</class>
    <class>toilet.db.Article</class>
    <class>toilet.db.Comment</class>
    <class>toilet.db.Section</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="jakarta.persistence.schema-generation.database.action" value="create"/>
      <property name="jakarta.persistence.schema-generation.create-source" value="script"/>
      <property name="jakarta.persistence.schema-generation.create-script-source" value="toiletsetup.sql"/>
      <property name="hibernate.hbm2ddl.import_files_sql_extractor" value="org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor"/>
    </properties>
  </persistence-unit>
</persistence>
